# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Task files
# tasks.json
# tasks/ 

# Specstory
.specstory/

notified_changes.json
notified_deploy_keys.json
weekly_issues_snapshot.json
cron.log
cron_test.log
